<p>
  eyez.at converts base10 geocoordinates to base62 for algorithmic and database-less location link shortening.
</p>

<p>
  Developed by <a href="http://adamrixey.com">Adam Rixey</a>.
  (<a href="http://twitter.com/adamrixey">twitter</a>)
</p>

<p>
  Special thanks to <a href="http://github.com/vinbarnes">@vinbarnes</a>
  for the open source encouragement.  We plan to include this geocoordinate
  shortening concept in a pure ruby library.
</p>

<p>
  Website repository at <a href="https://github.com/adamrixey/eyezat">github.com/adamrixey/eyezat</a>
</p>
