<p>
  eyez.at converts base10 geocoordinates to base62 for algorithmic and database-less location link shortening.
</p>

<p>
  Developed by <a href="http://adamrixey.com">Adam Rixey</a>.
  (<a href="http://twitter.com/adamrixey">twitter</a>)
</p>
