  <form action="#" onsubmit="showAddress( this.address.value ); return false">
    <span>
      Search for address
    </span>

    <input type="text" size="60" name="address" value="" />

    <input type="submit" value="Go!" />

    <div id="info">
      <span id="coords"></span>

      <span id="permalink">
        <span id="link"></span>
      </span>

      <div id="map_canvas"></div>
    </div>
  </form>