  <div id="info">
    <span id="coords"></span>

    <span id="permalink">
      <span id="link"></span>
    </span>

  <div id="map_canvas"></div>

  </div>

  <div>
    <a href="/alt">Find non-current address</a>
  </div>