  <div id="info">
    <span id="permalink">
      <span id="link"></span>
    </span>

    <span id="coords"></span>

    <div id="map_canvas"></div>
  </div>

  <div>
    <a href="/search">Search different location to link shorten</a>
  </div>